body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    background: white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
}

button {
    margin-top: 10px;
}

li {
    margin: 5px 0;
}
.completed{
    text-decoration: line-through;
    color: gray;
}

.highlight{
    text-decoration:underline;
    color: rgb(245, 46, 46);
}
li{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}



.deletebutton  {
    background: none;
    border: none;
    cursor: pointer;
}
