body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    background: white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
}

button {
    margin-top: 10px;
}

li {
    margin: 5px 0;
}
